.home-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 10px;
}

.search-field {
    margin-left: 230px;
}

#input-field {
    width: 50%;
    padding: 8px;
}

.btn-search {
    padding: 8px;
    color: white;
    background-color: black;
}

.foods-container {
    margin: 80px 80px;
    display: grid;
    gap: 45px;
    grid-template-columns: 1fr 1fr 1fr;
}